body {
  min-width: 1280px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;

  background-color: #f8f8f8;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  min-height: 700px;
  padding-top: 25px;

  background: url("../img/header-bg.jpg") no-repeat center/cover;
}

.index-logo img {
  width: 170px;
  height: 140px;
  margin-bottom: 100px;
}

.header-social {
  width: 120px;
  height: 16px;
  padding: 10px;
}

.header-greeting {
  box-sizing: border-box;
  width: 270px;
  height: 300px;
  margin-top: 200px;
  margin-bottom: 65px;
  padding-top: 40px;
  padding-left: 25px;

  background-color: #94dac0;
  color: #333333;
}

.header-greeting h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

.header-greeting p {
  margin: 0;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  line-height: 14px;
}

.header-slider {
  box-sizing: border-box;
  width: 700px;
  min-height: 330px;
  margin-right: 100px;

  font-family: 'Raleway', 'Arial', sans-serif;
}

.slider-item {
  padding: 10px;
}

.slider-item h1 {
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-weight: 800;
  line-height: 34px;
  text-transform: uppercase;
}

.slider-item p {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  color: #000;
}

.item-description {
  width: 315px;
}

.btn {
  display: inline-block;
  padding: 20px 30px;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;

  color: #000000;
  background-color: #94dac0;
}

.btn:hover {
  background-color: #9bfedf;
}

.btn:active {
  transform: scale(0.9);
}

.main-menu {
  width: 270px;

  background: #c55152;
}

.main-menu h2 {
  margin: 0;
  padding: 0;
  height: 20px;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 40px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #333333;
  color: #ffffff;
}

.main-menu ul {
  padding: 0;
  margin: 0;
}

.main-menu li {
  list-style: none;
}

.main-menu a {
  display: block;
  padding: 7px 0;
  padding-left: 40px;

  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  font-weight: 900;

  color: #000000;
}

.main-menu a:hover {
  background-color: #333333;
  color: #ffffff;
}

.banner {
  width: 270px;
}

.gallery {
  width: 870px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 0;
}

.gallery-section {
  margin-bottom: 50px;
}

.gallery h2 {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 40px;

  font-size: 22px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;

  color: #707070;
}

.gallery-item {
  display: inline-block;
  width: 270px;
  margin-right: 30px;

  vertical-align: top;
}

.gallery-item:nth-of-type(3n) {
  margin-right: 0;
}

.gallery-item:hover {
  box-shadow: 0 0 20px #333;
}

.gallery-item a {
  display: block;
  padding: 10px;

  text-decoration: none;
  font-size: 14px;
  font-style: italic;
  font-weight: 900;

  background-color: #ffffff;
  color: #333333;
}

.gallery-item img {
  display: block;
  margin-bottom: 20px;
}

.gallery-item h1 {
  float: left;
  margin: 0;
  padding: 0;
  width: 170px;

  font-size: 14px;
}

.item-price {
  float: right;

  font-size: 18px;
}

.item-price span {
  display: block;
}

.item-price i {
  font-style: italic;
}

.price-old {
  font-size: 14px;
  text-decoration: line-through;

  color: #e24602;
}

.price-old i {
  text-decoration: line-through;
}

.brandlist {
  clear: both;
  padding: 15px;

  text-align: center;

  background: #fff;
}

.brandlist img {
  margin-right: 20px;
}

.brandlist img:last-of-type {
  margin-right: 0;
}

.feed {
  padding-top: 55px;
  padding-bottom: 60px;

  font-size: 0;

  background-color: #eaeaea;
}

.feed-header {
  padding-bottom: 30px;

  font-size: 22px;
  font-weight: 900;
  font-style: italic;

  text-align: center;

  color: #333333;
}

.feed-header span {
  font-size: 18px;
}

.feed-img {
  display: inline-block;
  border: 8px solid #fff;
  margin-right: 12px;

  background-color: #eaeaea;
}

.feed-img:last-of-type {
  margin-right: 0;
}

.footer-top {
  font-size: 0;
}

.big-btn {
  display: inline-block;
  width: 390px;
  height: 150px;
}

.big-btn-fb {
  background-color: #3b5997;
}

.big-btn-tw {
  background-color: #3fccfd;
}

.big-btn-pint {
  background-color: #cb2027;
}

.footer-middle {
  background-color: #373737;
  color: #ffffff;
}

.footer-middle .container {
  box-sizing: border-box;
  padding: 50px 25px;
}

.footer-column {
  float: left;
  max-width: 270px;
  margin-right: 45px;

  font-size: 12px
}

.footer-column:last-child {
  margin-right: 0;
}

.footer-menu {
  margin-right: 90px;
}

.menu-column {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 18px;
}

.menu-column a {
  text-decoration: none;
  color: #ffffff;
}

.footer-column h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-size: 18px;
}

.column-subscribe p {
  max-width: 195px;
}

.column-subscribe form {
  margin-bottom: 45px;

  font-size: 0;
}

.column-subscribe input[type="email"] {
  box-sizing: border-box;
  width: 180px;
  height: 30px;
  margin: 0;
  padding: 10px 0;
  padding-left: 20px;
  border: none;

  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #fff51f;
  color: rgba(51, 51, 51, 0.45);
}

.column-subscribe button {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  width: 70px;
  height: 30px;

  text-transform: uppercase;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;

  background-color: #000000;
  color: #ffffff;
}

.column-subscribe button:hover {
  cursor: pointer;
}

.pay-services {
  font-size: 0;
}

.pay-services img {
  margin-right: 10px
}

.pay-services img:last-child {
  margin-right: 0;
}

.column-about-us {
  max-width: 230px;
}

.column-about-us p {
  margin-bottom: 15px;
}

.about-us-contact {
  margin-bottom: 15px;
}

.about-us-contact span {
  font-size: 14px;
}

.about-us-contact span:nth-child(odd) {
  margin-right: 20px;
}

.contact-email {
  color: #faef03;
}

.footer-bottom {
  min-height: 50px;

  font-size: 12px;
  line-height: 20px;

  background-color: #333333;
  color: #dad9d9;
}

.footer-copyright {
  padding: 15px 0;
}

.copyright-title {
  text-transform: uppercase;
}

