body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;

  background-color: #f8f8f8;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  min-height: 350px;
  padding-top: 25px;

  background: url("../img/header-bg.jpg") no-repeat center/cover;
}

.index-logo img {
  width: 170px;
  height: 140px;
  margin-bottom: 100px;
}

.header-social {
  padding: 5px;
}

.header-social a {
  display: inline-block;

  vertical-align: top;
  text-align: center;
}

.header-social .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  font-size: 16px;
  line-height: 25px;
  vertical-align: middle;

  color: #333333;
}

.header-social a:hover .icon {
  background-color: #333;
  color: #fff;
}

.header-greeting {
  box-sizing: border-box;
  width: 270px;
  height: 300px;
  margin-top: 200px;
  margin-bottom: 65px;
  padding-top: 40px;
  padding-left: 25px;

  background-color: #94dac0;
  color: #333333;
}

.header-greeting h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

.header-greeting p {
  margin: 0;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  line-height: 14px;
}

.header-slider {
  box-sizing: border-box;
  width: 700px;
  min-height: 330px;
  margin-right: 100px;

  font-family: 'Raleway', 'Arial', sans-serif;
}

.slider-item {
  padding: 10px;
}

.slider-item h1 {
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-weight: 800;
  line-height: 34px;
  text-transform: uppercase;
}

.slider-item p {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  color: #000;
}

.header-slider .item-description {
  width: 315px;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  border: none;
  outline: none;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;

  color: #000000;
  background-color: #94dac0;
  cursor: pointer;
}

.btn:hover {
  background-color: #9bfedf;
}

.btn:active {
  transform: scale(0.9);
}

.main-menu {
  width: 270px;

  background: #c55152;
}

.main-menu h2 {
  margin: 0;
  padding: 0;
  height: 20px;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 40px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #333333;
  color: #ffffff;
}

.main-menu ul {
  padding: 0;
  margin: 0;
}

.main-menu li {
  list-style: none;
}

.main-menu a {
  display: block;
  padding: 7px 0;
  padding-left: 40px;

  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  font-weight: 900;

  color: #000000;
}

.main-menu a:hover {
  background-color: #333333;
  color: #ffffff;
}

.banner {
  width: 270px;
}

.contacts {
  margin-bottom: 30px;
}

.breadcrumbs {
  margin-top: 40px;
  margin-bottom: 50px;

  font-size: 0;
}

.breadcrumbs a {
  display: inline-block;
  padding: 5px;
  padding-right: 0;

  font-size: 12px;
  text-decoration: none;

  color: #989898;
}

.breadcrumbs a::after {
  content: "\00bb";

  margin-left: 5px;
}

.breadcrumbs a:last-child::after {
  content: none;
}

.breadcrumbs .active {
  padding: 5px;

  background-color: #faef03;
}

.contact-message {
  max-width: 380px;

  background: url(../img/sep.png) no-repeat right 20%;
}

.contact-message label {
  display: block;
  margin-bottom: 10px;

  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;

  color: #333333;
}

.contact-message input {
  display: block;
  margin-bottom: 35px;
  width: 320px;
  padding: 5px 15px;
  border: 1px solid #e6e6e6;
}

.contact-message input:hover {
  background-color: #ccffdd;
}

.contact-message input:focus {
  outline-color: #00cc7a;
}

.contact-message textarea {
  width: 340px;
  min-height: 150px;
  padding: 5px;
  margin-bottom: 35px;
  resize: none;
  border: 1px solid #e6e6e6;
}

.contact-message textarea:hover {
  background-color: #ccffdd;
}

.contact-message textarea:focus {
  outline-color: #00cc7a;
}

.contact-message .btn {
  margin-bottom: 20px;
}

.contact-address {
  max-width: 300px;
  padding: 0 20px;
  padding-left: 30px;
}

.contact-address i {
  display: inline-block;
  margin-right: 5px;

  vertical-align: top;
  font-size: 24px;
  text-align: left;

  color: #333333;
}

.contact-address h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 900;
  line-height: 14px;
}

.contact-address p {
  max-width: 300px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  color: #333333;
}

.contact-location {
  margin-bottom: 20px;
}

.contact-location p {
  max-width: 165px;

  font-size: 12px;
  font-weight: 400;
  line-height: 14px;

  color: #777777;
}

.contact-location .icon-location {
  padding: 0;
  margin: 0;
}

.contact-location .icon-location:before {
  margin: 0;
}

.contact-location .location-info {
  display: inline-block;
  max-width: 155px;
}

.contact-address .contact-info {
  margin-bottom: 10px;
}

.contact-address .contact-info i {
  font-size: 18px;
}

.contact-address .contact-phone {
  font-size: 20px;
  font-weight: 400;
  line-height: 20.8px;

  color: #333333;
}

.contact-address .contact-email {
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-decoration: underline;

  color: #333333;
}

.contacts + .brandlist {
  margin-bottom: 50px;
}

.description-full {
  clear: both;
}

.catalog {
  width: 870px;
  margin-bottom: 100px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 0;
}

.catalog-section {
  margin-bottom: 20px;
}

.catalog-section:last-of-type {
  margin-bottom: 0;
}

.catalog h2 {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 40px;

  font-size: 22px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;

  color: #707070;
}

.catalog-item {
  display: inline-block;
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;

  vertical-align: top;
}

.catalog-item:nth-of-type(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 20px #333;
}

.catalog-item a {
  display: block;
  padding: 10px;

  text-decoration: none;
  font-size: 14px;
  font-style: italic;
  font-weight: 900;

  background-color: #ffffff;
  color: #333333;
}

.catalog-item img {
  display: block;
  margin-bottom: 20px;
}

.catalog-item h1 {
  float: left;
  margin: 0;
  padding: 0;
  width: 170px;

  font-size: 14px;
}

.item-price {
  float: right;

  font-size: 18px;
}

.item-price span {
  display: block;
}

.item-price span::before,
.description-price span::before {
  content: '\f158';

  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: 0;

  font-family: "fontello";
  font-style: italic;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  text-align: center;
  line-height: 1em;
  speak: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.price-old {
  font-size: 14px;
  text-decoration: line-through;

  color: #e24602;
}

.description-gallery {
  width: 370px;
  margin-right: 40px;
  margin-bottom: 35px;

  font-size: 0;
}

.description-gallery figure {
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 5px;

  cursor: pointer;
}

.description-gallery figure:last-child {
  margin-right: 0;
}

.item-description h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;

  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;

  color: #353535;
}

.description-price {
  margin-bottom: 30px;

  font-size: 24px;
  font-style: italic;
  font-weight: 700;

  color: #111111;
}

.description-short {
  clear: both;
  max-width: 450px;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  border-bottom:  1px solid rgba(51, 51, 51, 0.1);
  padding: 20px 0;
  margin-bottom: 20px;
}

.description-short h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;

  color: #353535;
}

.description-short p {
  margin: 0;
  padding: 0;
  max-width: 450px;

  font-size: 12px;
  font-weight: 400;

  color: #707070;
}

.item-description .btn {
  display: block;
  margin: 0 auto;
}

.description-full {
  margin-bottom: 80px;

  font-size: 12px;

  color: #808080;
}

.description-full h2 {
  box-sizing: border-box;
  margin: 0;
  margin-left: 20px;
  padding: 10px 15px;
  padding-right: 0;
  width: 170px;
  height: 35px;

  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;

  color: #333333;
  background: #c55152
}

.description-full h3 {
  margin: 0;
  padding: 0;

  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.description-full p {
  margin-left: 20px;
}

.description-full .border {
  padding: 10px;
  border: 1px solid rgba(51, 51, 51, 0.1);
}

.relative-product {
  clear: both;
  padding: 20px 0;
}

.relative-product h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;

  color: #333333;
}

.product-recomend {
  margin-bottom: 80px;
}

.product-recent {
  margin-bottom: 80px;
}

.brandlist {
  clear: both;
  padding: 15px;

  text-align: center;

  background: #fff;
}

.brandlist img {
  margin-right: 20px;
}

.brandlist img:last-of-type {
  margin-right: 0;
}

.feed {
  padding-top: 55px;
  padding-bottom: 60px;

  font-size: 0;

  background-color: #eaeaea;
}

.feed-header {
  padding-bottom: 30px;

  font-size: 22px;
  font-weight: 900;
  font-style: italic;

  text-align: center;

  color: #333333;
}

.feed-header span {
  font-size: 18px;
}

.feed-img {
  display: inline-block;
  border: 8px solid #fff;
  margin-right: 12px;

  background-color: #eaeaea;
}

.feed-img:last-of-type {
  margin-right: 0;
}

.footer-top {
  font-size: 0;
}

.big-btn {
  display: inline-block;
  width: 390px;
  height: 150px;

  text-align: center;
}

.big-btn-fb {
  background-color: #3b5997;
}

.big-btn-tw {
  background-color: #3fccfd;
}

.big-btn-pint {
  background-color: #cb2027;
}

.big-btn .icon {
  font-size: 60px;
  line-height: 150px;
  vertical-align: middle;

  color: #fff;
}

.footer-middle {
  background-color: #373737;
  color: #ffffff;
}

.footer-middle .container {
  box-sizing: border-box;
  padding: 50px 25px;
}

.footer-column {
  float: left;
  max-width: 270px;
  margin-right: 45px;

  font-size: 12px
}

.footer-column:last-child {
  margin-right: 0;
}

.footer-menu {
  margin-right: 90px;
}

.menu-column {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 18px;
}

.menu-column a {
  text-decoration: none;
  color: #ffffff;
}

.footer-column h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-size: 18px;
}

.column-subscribe p {
  max-width: 195px;
}

.column-subscribe form {
  margin-bottom: 45px;

  font-size: 0;
}

.column-subscribe input[type="email"] {
  box-sizing: border-box;
  width: 180px;
  height: 30px;
  margin: 0;
  padding: 10px 0;
  padding-left: 20px;
  border: none;

  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #fff51f;
  color: rgba(51, 51, 51, 0.45);
}

.column-subscribe button {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  width: 70px;
  height: 30px;

  text-transform: uppercase;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;

  background-color: #000000;
  color: #ffffff;
}

.column-subscribe button:hover {
  cursor: pointer;
}

.pay-services {
  font-size: 0;
}

.pay-services img {
  margin-right: 10px
}

.pay-services img:last-child {
  margin-right: 0;
}

.column-about-us {
  max-width: 230px;
}

.column-about-us p {
  margin-bottom: 15px;
}

.about-us-contact {
  margin-bottom: 15px;
}

.about-us-contact span {
  font-size: 14px;
}

.about-us-contact span:nth-child(odd) {
  margin-right: 20px;
}

.contact-email {
  color: #faef03;
}

.footer-bottom {
  min-height: 50px;

  font-size: 12px;
  line-height: 20px;

  background-color: #333333;
  color: #dad9d9;
}

.footer-copyright {
  padding: 15px 0;
}

.copyright-title {
  text-transform: uppercase;
}

.footer-social {
  padding: 12.5px 0;
}

.footer-social a {
  display: inline-block;
  height: 25px;

  vertical-align: top;
  text-align: center;
  line-height: 25px;
}

.footer-social .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  font-size: 15px;
  line-height: 25px;
  vertical-align: middle;

  color: #fff;
}

.footer-social a:hover .icon {
  background-color: #fff;
  color: #333;
}
